# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\aaa\Take-Out-Web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
